<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="email=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<meta name="renderer" content="webkit">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<title>陆日帅-Java后端开发工程师/[简历]</title>
<link rel="shortcut icon" type="image/x-icon"
	href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">
<link href="../static/fontawesome/css/font-awesome.min.css"
	th:href="@{/fontawesome/css/font-awesome.min.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/resume/typo.css}">
<link rel="stylesheet" th:href="@{/css/resume/index.css}">
<script>
	function loading() {
		document.getElementsByClassName('avatar')[0].style.display = 'block';
		document.getElementsByClassName('loading')[0].style.display = 'none';
	}
</script>
</head>
<body>

	<header class="header"></header>

	<article class="container">
		<section class="side">
			<!-- 个人肖像 -->
			<section class="me">
				<section class="portrait">
					<div class="loading">
						<span></span> <span></span> <span></span> <span></span> <span></span>
					</div>
					<!-- 头像照片 -->
					<img class="avatar" th:src="@{/images/me.jpg}"
						src="/static/images/me.jpg" onload="loading()">
				</section>

				<h1 class="name">陆日帅</h1>
				<h4 class="info-job">Java开发工程师 / 大专</h4>

			</section>

			<!-- 基本信息 -->
			<section class="profile info-unit">
				<h2>
					<i class="fa fa-user" aria-hidden="true"></i>基本信息
				</h2>
				<hr />
				<ul>
					<li><label>个人信息</label> <span>陆日帅 / 男 / 25岁</span></li>
					<li><label>工作年限</label> <span>3年</span></li>
					<li><label>籍贯</label> <span>广西</span></li>
				</ul>
			</section>

			<!-- 联系方式 -->
			<section class="contact info-unit">
				<h2>
					<i class="fa fa-phone" aria-hidden="true"></i>联系方式
				</h2>
				<hr />
				<ul>
					<li><label>手机</label><a href="tel:18818864644" target="_blank">188-1886-4644</a></li>
					<li><label>邮箱</label><a href="mailto:1006059906@qq.com"
						target="_blank">1006059906@qq.com</a></li>
					<li><label>博客</label><a href="https://lrshuai.top/blog"
						target="_blank">https://lrshuai.top/blog</a></li>
					<li><label>Github</label><a href="https://github.com/rstyro"
						target="_blank">github.com/rstyro</a></li>
				</ul>
			</section>

			<!-- 技能点 -->
			<section class="skill info-unit">
				<h2>
					<i class="fa fa-code" aria-hidden="true"></i>技能点
				</h2>
				<hr />
				<ul>
					<li><label>Java</label>
					<progress value="90" max="100"></progress></li>
					<li><label>SpringBoot</label>
					<progress value="90" max="100"></progress></li>
					<li><label>Redis</label>
					<progress value="85" max="100"></progress></li>
					<li><label>MySQL</label>
					<progress value="85" max="100"></progress></li>
					<li><label>Nginx</label>
					<progress value="85" max="100"></progress></li>
					<li><label>Linux</label>
					<progress value="85" max="100"></progress></li>
					<li><label>MongoDB</label>
					<progress value="80" max="100"></progress></li>
					<li><label>ElasticSearch</label>
					<progress value="80" max="100"></progress></li>
				</ul>
			</section>

			<!-- 技术栈 -->
			<div class="stack info-unit">
				<h2>
					<i class="fa fa-code" aria-hidden="true"></i>其他
				</h2>
				<hr />
				<ul>
					<li><label>其他</label> <span>SpringCloud、Git、SVN、Markdown、Maven、小程序、Docker、Tomcat、</span>
					</li>
				</ul>
			</div>
		</section>

		<section class="main">

			<!-- 教育经历 -->
			<section class="edu info-unit">
				<h2>
					<i class="fa fa-graduation-cap" aria-hidden="true"></i>教育经历
				</h2>
				<hr />
				<ul>
					<li>
						<h3>
							<span>广东机电职业技术学院 - 软件技术专业（大专）</span>
							<time>2013.9-2016.7</time>
						</h3>
						<p>
							编写了很多
							<mark>小作品</mark>
							，随机答题系统、学生成绩查询系统、关卡小游戏、。。。
						</p>
					</li>
				</ul>
			</section>

			<!-- 工作经历 -->
			<section class="work info-unit">
				<h2>
					<i class="fa fa-shopping-bag" aria-hidden="true"></i>工作经历
				</h2>
				<hr />
				<ul>
					<li>
						<h3>
							<span>琛通文化传播有限公司－后端开发工程师</span>
							<time>2017.03-至今</time>
						</h3>
						<ul class="info-content">
							<li>负责公司项目的<mark>架构</mark></li>
							<li>参与项目的<mark>需求分析</mark>、<mark>设计</mark>、编码等工作
							</li>
						</ul>
					</li>

					<li>
						<h3>
							<span>广州贝壳网络技术有限公司－后端开发工程师</span>
							<time>2015.11 至 2017.3</time>
						</h3>
						<ul class="info-content">
							<li>负责公司app的<mark>后台</mark>及<mark>数据接口</mark>服务，
							</li>
							<li>参与项目产品的<mark>需求与设计</mark>。
							</li>
							<li>负责维护app<mark>版本迭代</mark>时<mark>接口的更新</mark></li>
						</ul>
					</li>
					
					<li>
						<h3>
							<span>外包－后端开发工程师</span>
							<time>2015.05 至 2015.11</time>
						</h3>
						<ul class="info-content">
							<li>负责编写后台界面和数据存贮
							</li>
							<li>参与项目产品的<mark>需求与设计</mark>。
							</li>
							<li>还兼职编写前端界面的部分代码，与js交互效果渲染</li>
						</ul>
					</li>

				</ul>
			</section>

			<!-- 项目经验 -->
			<section class="project info-unit">
				<h2>
					<i class="fa fa-terminal" aria-hidden="true"></i>项目经验
				</h2>
				<hr />
				<ul>
					<li>
						<h3>
							<span>[项目1]FlirtHer(小程序)</span> <span class="link"><a
								href="#" target="_blank">待审核</a></span>
							<time>2018.03-至今</time>
						</h3>
						<ul class="info-content">
							<li>技术栈：Java+SpringBoot+ElasticSearch+Nginx+MySQL+myBatis+Redis+Thymeleaf</li>
							<li><i class="fa fa-paper-plane-o" aria-hidden="true"></i>
								[内容]兴趣爱好所需，收集的一些段子与情话、笑话的资讯小程序<br /> 
								
								<i class="fa fa-users" aria-hidden="true"></i> [团队]1个<br />
								
								<i class="fa fa-bars" aria-hidden="true"></i> 
								[难点]Elasticsearch 全局搜索不太准确<br />
								<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
								[收获]解决了过程中遇到的一些难点，填了很多坑，get到很多东西</li>
						</ul>
					</li>
					
					
					<li>
						<h3>
							<span>[项目2]库存系统</span> <span class="link"><a
								href="#" target="_blank">已使用</a></span>
							<time>2017.11-2018.03</time>
						</h3>
						<ul class="info-content">
							<li>技术栈：Java+SpringBoot+Nginx+Redis+MySQL+MyBatis+Thymeleaf+Maven+SVN+HTML+JQuery</li>
							<li><i class="fa fa-paper-plane-o" aria-hidden="true"></i>
								[内容]记录公司的货物信息，包括进货渠道与进货人接受人，出库时间与价格等等。。<br /> <i class="fa fa-users"
								aria-hidden="true"></i> [团队]3个<br /> 
						</ul>
					</li>
					<li>
						<h3>
							<span>[项目3]parts(小程序)</span> <span class="link"><a
								href="#" target="_blank">待审核</a></span>
							<time>2017.11-2018.03</time>
						</h3>
						<ul class="info-content">
							<li>技术栈：Java+SpringBoot+Nginx+Redis+MySQL+MyBatis+Thymeleaf+Maven+SVN+HTML+JQuery</li>
							<li><i class="fa fa-paper-plane-o" aria-hidden="true"></i>
								[内容]改装方面的东西<br /> <i class="fa fa-users"
								aria-hidden="true"></i> [团队]2个<br /> 
						</ul>
					</li>
					
					<li>
						<h3>
							<span>[项目4]个人主页</span> <span class="link"><a
								href="#" target="_blank">已发布</a></span>
							<time>2017.04-2017.05</time>
						</h3>
						<ul class="info-content">
							<li>技术栈：Java+SpringBoot+Nginx+Redis+MySQL+MyBatis+Editor.md+Thymeleaf+Maven+SVN+HTML+JQuery</li>
							<li><i class="fa fa-paper-plane-o" aria-hidden="true"></i>
								[内容]主要是记录一些平常遇到的问题，填坑什么的<br /> <i class="fa fa-users"
								aria-hidden="true"></i> [团队]1个<br /> 
						</ul>
					</li>
					<li>
						<h3>
							<span>[项目5]贝壳帮</span> <span class="link"><a
								href="#" target="_blank">已发布</a></span>
							<time>2015.11-2017.03</time>
						</h3>
						<ul class="info-content">
							<li>技术栈：Java+SpringMVC+Nginx+Redis+MySQL+MyBatis+Shrio+Maven+SVN+Netty4</li>
							<li><i class="fa fa-paper-plane-o" aria-hidden="true"></i>
								[内容]这是一个教人做蛋糕的app,里面有各种的做蛋糕教程，内容和下厨房差不多，后面有一个直播功能差不多弄好了，但是后面砍掉了<br /> <i class="fa fa-users"
								aria-hidden="true"></i> [团队]5个<br /> 
						</ul>
					</li>
					
					<li>
						<h3>
							<span>[项目6]电商网页（实习）</span> <span class="link"><a
								href="#" target="_blank">已倒闭</a></span>
							<time>2015.05-2015.11</time>
						</h3>
						<ul class="info-content">
							<li>技术栈：Java+Spring+Struts2+MySQL+HTML+CSS+JQuery</li>
							<li><i class="fa fa-paper-plane-o" aria-hidden="true"></i>
								[内容]这个主要是卖衣服的，然后衣服有现成的，还有一个是私人定制的，通过颜色、尺寸、图案等拼装<br /> <i class="fa fa-users"
								aria-hidden="true"></i> [团队]6个<br /> 
						</ul>
					</li>
				</ul>
			</section>

			<!-- 自我评价 -->
			<section class="work info-unit">
				<h2>
					<i class="fa fa-pencil" aria-hidden="true"></i>自我评价/期望
				</h2>
				<hr />
				<p>沟通能力好，脾气好、为人诚实稳重、求知欲很强、有上进行、工作认真负责</p>
			</section>
		</section>
	</article>



	<footer class="footer">
		<p>
			© 2018 rstyro.文档最后更新时间为
			<time>2018年5月1日</time>
			.
		</p>
	</footer>

	<!-- 侧栏 -->
	<aside>
		<ul>
			<li><a href="https://github.com/rstyro" target="_blank">Github</a></li>
			<li><a href="https://lrshuai.top/blog" target="_blank">Blog</a></li>
		</ul>
	</aside>

	<script src="./assets/js/index.js"></script>
</body>
</html>