<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>403</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="shortcut icon" type="image/x-icon" href="../../static/images/favicon.ico" th:href="@{/images/favicon.ico}">

<style>
	body{
		background:#000;
		color: #fff;
		font-size: 2em;
		text-align: center;
	}
	a{
		text-decoration: none;
	}
</style>
</head>
<body>
	<div style="margin: 100px auto;">
		<h1>你没有权限访问</h1>
		<h3>网管说: 你余额不足，赶紧去交钱。</h3>
		<h2><a href="../../index.html" th:href="@{/}">回到首页</a></h2>
	</div>
</body>
</html>
