#login-box {
	width: 365px;
	margin: 20% auto;
	position: relative;
}
#login-box h1{
	text-align: center;
	color: #333;
}
#login-box .img{
	width: 30%;
	position: absolute;
	z-index: 99;
}
#login-box .img img{
	width: 100%;
	border-radius: 50%;
	border: 6px solid #fff;
}

#login-box .login-box-form{
	min-height:120px;
	padding:10px 20px;
}
#login-box .login-box-form .login-name{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #555;
}
#login-box .login-box-form .tips{
	text-align: right;
	color:#777;
	font-size: 16px;
}
#login-box .login-box-form .form-group{
	position: relative;
}

#login-box .login-box-form .form-group{
	position: relative;
}
#login-box .login-box-form .form-group .form-control{
	border: 0;
	padding-left: 100px;
}
#login-box .login-box-form .form-group .btn-group{
	position: absolute;
	right: 0px;
	top: 0px;
}
#login-box .login-box-form .form-group .btn-group #submit{
	background-color: #fff;
	border: 0px;
	height:34px;
	width: 30px;
	border-radius: 4px;
}
#error-msg{
	text-align: center;
	color: red;
	clear: both;
}