	.fh5co-narrow-content{
		color: #fff;
	}
	
	.main{
		border-left: 1px dashed #fff;
		width: 100%;
		/*
		padding-top: 5%;
		*/
	}
	.rebot-box{
		clear:both;
		width: 40%;
		min-height:400px;
		background: rgba(255,255,255,0.1);	
		margin: 0px auto;
		padding-bottom: 5px;
		border-radius: 3px;
		position: relative;
	}
	.rebot-box header{
		height: 50px;
		line-height:50px;
		font-size:1.5em;
		font-weight:bold;
		padding-left: 10px;
		background: rgba(20,200,230,0.5);
		color: #ffe;
		border-radius: 3px 3px 0px 0px;
	}
	.rebot-box header i{
		font-size:2em;
		line-height:55px;
	}
	.rebot-box>header>span>em{
		color: #eee;
		font-size: 0.5em;
	}
	.rebot-box header .right{
		font-size: 0.8em;
	}
	.rebot-box header .right span{
		margin-right: 10px;
		display:inline-block;
		cursor: pointer;
	}
	.rebot-box header .right span.active{
		color: #38ff0c;
	}
	.rebot-box header .right span i{
		font-size: 1.2em;
	}
	.left{
		float: left;
	}
	.right{
		float:right;
	}
	.chat-body{
		max-height: 400px;
		min-height: 400px;
		overflow-y:auto;
		clear: both;
	}
	.chat-body .info{
		min-height: 50px;
		margin: 15px 10px;
		clear: both;
		max-width: 100%;
	}
	.chat-body .info .info-header{
		width: 5%;
	}	
	.chat-body .info .info-body{
		max-width: 70%;
		position: relative;
		display: inline-block;
	}
	.chat-body .info .info-header img{
		width: 100%;
		border-radius: 50%;
	}
	.chat-body .info .content{
		margin: 10px 15px;
		padding: 5px 5px;
		border-radius: 10px;
		display: inline-block;
		max-width: 100%;
	}
	.chat-body .info:after{
		content: '';
		clear: both;
		display: block;
	}
	.chat-body .info .content img{
		max-width: 100%;
	}
	.chat-body .info .content em{
		width:0px;
		height:0px;
		border-width:10px;
		border-style:solid;
		border-color:transparent  #111 transparent  transparent ;
		font-size:0; 
		line-height:0;
		position: absolute;
	}
	.chat-body .info-left .info-header{
		float: left;
	}
	.chat-body .info-left .info-body{
		float: left;
	}
	.chat-body .info-left .info-body .content{
		background: #555e77;
	}
	.chat-body .info-left .info-body .content em{
		border-color:transparent  #555e77 transparent  transparent;
		left: -4px;
		top: 15px;
	}
	.chat-body .info-right .info-header{
		float: right;
	}
	.chat-body .info-right .info-body{
		float: right;
	}
	.chat-body .info-right .info-body .content{
		background: #58abfd;
	}
	.chat-body .info-right .info-body .content em{
		border-color:transparent transparent transparent #58abfd;
		right: -4px;
		top: 15px;
	}
	.rebot-box footer{
		clear:both;
		height: 50px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.rebot-box footer textarea{
		width: 85%;
		height: 50px;
		border-radius: 5px;
		resize: none;
		margin-left: 10px;
		padding-left: 5px;
		color: #111;
	}
	.rebot-box footer .btn-send{
		height: 100%;
		width: 10%;
		border-radius: 5px;
		background: #2cd7e0;
		color: #fff;
		text-align:center;
		font-size:1.5em;
		line-height: 50px;
		float: right;
		margin-right: 10px;
		cursor: pointer;
	}
	
@media screen and (max-width: 1400px) {
	.rebot-box{
		width: 40%;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1400px){
	.rebot-box{
		width: 60%;
	}
}
@media screen and (min-width: 768px) and (max-width: 999px){
	.rebot-box{
		width: 80%;
	}
}

@media screen and (max-width: 767px) {
	.rebot-box{
		min-height:400px;
		width: 100%;
	}
	.rebot-box header {
		font-size: 1em;
	}
	.chat-body{
		max-height: 400px;
	}
	.chat-body .info .info-body{
		max-width: 80%;
	}
	.chat-body .info .info-header{
		width: 10%;
	}
	.rebot-box footer{
		margin-bottom: 0px;
	}
	.rebot-box footer textarea{
		width: 80%;
		margin-left: 5px;
	}
	.rebot-box footer .btn-send{
		width: 15%;
		margin-right: 5px;
		font-size:1em;
	}
}


/* 滚动条样式 */	
::-webkit-scrollbar {  
    width: 5px;  
    height: 5px;  
    background-color: #111;
}  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track {  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    background-color: rgba(255,255,255,0.5);  
}    
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb {  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: rgba(20,200,230,0.5);  
}  
/*滑块效果*/
::-webkit-scrollbar-thumb:hover{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.4);
}
/*IE滚动条颜色*/
html {
    scrollbar-face-color:#bfbfbf;/*滚动条颜色*/
    scrollbar-highlight-color:#000;
    scrollbar-3dlight-color:#000;
    scrollbar-darkshadow-color:#000;
    scrollbar-Shadow-color:#adadad;/*滑块边色*/
    scrollbar-arrow-color:rgba(0,0,0,0.4);/*箭头颜色*/
    scrollbar-track-color:#eeeeee;/*背景颜色*/
}