<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>关于我</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="这个冬天不太冷,个人博客,个人网站,文章,帅大叔" /> 
<meta name="description" content="帅大叔的博客,这个冬天不太冷的个人博客,闲时写写文章,分享技术干货,顺便做笔记,主要学JAVA" /> 
<meta name="_ctx" th:content="@{/}" />
<link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">
<link href="../static/fontawesome/css/font-awesome.min.css" th:href="@{/fontawesome/css/font-awesome.min.css}"  rel="stylesheet">
<link href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link href="../static/modal/css/modal.min.css" th:href="@{/modal/css/modal.css}" rel="stylesheet">
<link href="../static/css/timeline.min.css" th:href="@{/css/timeline.min.css}" rel="stylesheet">
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script src="/modal/respond.min.js"></script>
<![endif]-->
<style type="text/css">
	.fh5co-narrow-content{
		color: #fff;
	}
	.main{
		border-left: 1px dashed #fff;
		min-height: 500px;
		width: 100%;
		margin-top: 20px;
	}
	.main div.text-center{
		padding: 0px 10px;
	} 
	.main div.text-center p{
		font-size: 1.2em;
	}
	.mysnow{
			position: fixed;
			top: 0; 
		 	left: 0; 
			width:100%; 
			height: 100%; 
			pointer-events: none;
		  	z-index: 100001;
		 }
</style>
</head>
<body>
<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<div th:replace="include/left :: blog-left"></div>

		<div id="fh5co-main">
			<div class="fh5co-narrow-content">
				<h2 style="display: inline;padding-right: 20px;">我的音乐 </h2> <small>不知从什么时候，开始不爱说话，沉默代替了所有回答..............</small>
				
				<div class="main">
				</div>
			</div>
		
		</div>
</div>
<!-- 微信二维码 -->
<div class="modal fade" id="myWechatCode" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h3 class="modal-title text-center" style="color: #000;">微信二维码</h3>
			</div>
			<div class="modal-body">
				<div class="row" >
					<div class="col-sm-8 col-sm-offset-2">
						<img width="100%;" src="../static/images/twocode.jpg" th:src="@{/images/twocode.jpg}">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/snow.min.js" th:src="@{/js/snow.min.js}"></script>
<script src="../static/modal/jquery.waypoints.min.js" th:src="@{/modal/jquery.waypoints.min.js}"></script>
<script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="../static/js/about.js" th:src="@{/js/about.js}"></script>
<script>

</script>
</body>
</html>